/* ---- particles.js container ---- */
#particles-js{
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
}
